<launch>

    <!-- Lancement du package joy -->
    <node
        pkg="joy"
        exec="joy_node"
        name="joy_node"
    />

    <!-- Lancement du package teleop_twist_joy -->
    <node
        pkg="teleop_twist_joy"
        exec="teleop_node"
        name="teleop_twist_joy_node"
    />


    <include file="$(find-pkg-share kinova_gen3_6dof_robotiq_2f_85_moveit_config)/launch/robot.launch.py">
        <arg name="robot_ip" value="192.168.2.10"/>
        <arg name="use_fake_hardware" value="true"/>
    </include>


    <!-- Lancement du package kinova_gen3_6dof_robotiq_2f_85_moveit_config 
    <node
        pkg="kinova_gen3_6dof_robotiq_2f_85_moveit_config"
        exec="robot.launch.py"
        name="robot_moveit_launch"
    >
        <param name="robot_ip" value="192.168.2.10" />
        <param name="use_fake_hardware" value="true" />
    </node>
    -->

</launch>
